.main{
    display:flex;
    background-color: #d54141;
}

.left{
    background-color: #41d5c4;
    width: 200px;
    height: 300px;
    
}
.left-top{
    background-color: #4149d5;
    width: 50vh;
    height: 50vh;
    
    border: 5px solid black;
}
.left-bottam{
    background-color: #d5d141;
    width: 50vh;
    height: 50vh;
    
    border: 5px solid black;
}