.main{
    display: flex;
    background-color: #413d3d;
    border:20px solid #413d3d;
    height: 600px;
    width: 1000px;
    gap: 20px;
}


.left{
    width: 200px;
    height: 600px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.left-top{
    background-color: #f1463d;
    width: 200px;
    height: 300px;     
}
.left-bottom{
    background-color: #fff;
    width: 200px;
    height: 300px;
}


.right{
    height: 800px;
    width: 780px;
    gap: 20px;
    
}

.right-top{
    width: 780px;
    height: 100px;
    display: flex;
    gap: 20px;     
}
.right-top-left{
    background-color: #2cc5cf;
    width: 390px;
    height: 100px;
}
.right-top-right{
    background-color: #d6b269;
    width: 390px;
    height: 100px;
    
}

.right-main{
    width: 780px;
    height: 500px;
}
.right-main-top{
    width: 780px;
    height: 250px;     
}
.right-main-top-left{
    background-color: #7bed9f;
    width: 390px;
    height: 250px;
    float: left;
}
.right-main-top-right{
    background-color: #ff6b81;
    width: 390px;
    height: 250px;
    float: right;
}